.logo{
    width: 20vh;
}

.carousel img{ height: 30vh;
    object-fit: cover;
  
}



.card{ 
    width: 400px;
}

.h2{text-align: center;}

 .ft{width: 5vh;}



 th,td{
    height: 40px;
 }

 .imagen42{
    min-height: 298px;
 }

 header, footer{ min-height: 5vh;}

 ul{list-style:none ;}

