.logo{
    width: 20vh;
}

.carousel img{ height: 30vh;
    object-fit: cover;
  
}


.card{ 
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 400px;
}

.h2{ 
    text-align: center;}

 .ft{width: 5vh;}



 th,td{
    height: 40px;
 }

 .imagen42{
    
    min-height: 298px;
 }

 header, footer{ min-height: 5vh;}

 ul{list-style:none ;}

 .img-fluid {
    max-width: 500px;
    height: auto;
}

.justify-content-around{
    padding: 20px;
}

.container-fluid{
 margin-top: 20px;
justify-content: space-between;
display: flex;
}


label{
    font-size: 20px;
}

.details {
    width: 500px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;}

    .details img {
        max-width: 100%;
        border-radius: 8px;
    }